html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f4e9f3;
  color: #242424;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 10px;
  color: #2C3E50;
  text-align: center;
  
}

h2 {
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #e67e22;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 5px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.map-container {
  width: 95%; /* Increase width */
  max-width: 1400px; /* Increase max-width */
  height: 600px; /* Increase height */
  margin-bottom: 20px;
}

.status-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.status-buttons button {
  margin: 0 10px;
}